body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.App{
  width:50vw;
  margin: auto;
  
}

button{
  padding: 13px;
  margin: 10px;
  border:1px solid black;
  border-radius: 10px;
  background-color: #e5e7eb;

}

button:hover{
  background-color: cornflowerblue;
  cursor: pointer;
}

.border{
  border: 0.5px solid rgb(168, 164, 164);
  margin: 10px;
  padding-left: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 530px) {
  .App{
    width: 100vw;
    text-align: center;
  }
}
